<main class="hexagon-container" [ngStyle]="calculateGridColumns()">
  <ng-container *ngFor="let tile of tileService.tiles$ | async">
    <app-tile
      (click)="clickTile(tile)"
      [tile]="tile"
      [ngClass]="calculateTileClasses(tile)"
      [filter]="tileFilter"
    ></app-tile>
  </ng-container>
</main>

<mat-card class="floating floating-right floating-top">
  <mat-card-header>
    <mat-card-title>Tile Information</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="chosenTile && chosenTile.isKnown">
    <div><strong>X:</strong> {{ chosenTile.x }}, <strong>Y:</strong> {{ chosenTile.y }}</div>
    <div><strong>Terrain:</strong> {{ chosenTile.terrain | titlecase }}</div>
    <div><strong>Region:</strong> {{ chosenTile.region }}</div>
    <div><strong>Owner:</strong> {{ chosenTile.owner }}</div>
    <div><strong>People:</strong> {{ chosenTile.people | number:'1.0-0' }}</div>
  </mat-card-content>
</mat-card>

<button
  mat-fab
  color="white"
  [matMenuTriggerFor]="tileFilterMenu"
  class="floating floating-right floating-bottom"
  [ngStyle]="{'bottom.px': 200}"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #tileFilterMenu="matMenu" xPosition="before" yPosition="above">
  <button mat-menu-item *ngFor="let filter of filters" (click)="updateTileFilter(filter.name)">
    <mat-icon [color]="filter.name === tileFilter ? 'accent' : 'white'">
      {{ filter.icon }}
    </mat-icon>
    <span>{{ filter.name | titlecase }}</span>
  </button>
</mat-menu>

<button mat-fab
  (click)="raiseHexagonSize()"
  [disabled]="hexWidth == 100"
  color=""
  type="button"
  style="bottom: 100px"
  class="floating floating-right floating-bottom"
>
  <mat-icon>add</mat-icon>
</button>
<button mat-fab
  (click)="reduceHexagonSize()"
  [disabled]="hexWidth == 0"
  color=""
  type="button"
  class="floating floating-right floating-bottom"
>
  <mat-icon>remove</mat-icon>
</button>
