<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div><strong>Kings Duty</strong></div>

    <div class="toolbar-spacer"></div>

    <button
      type="button"
      mat-icon-button
      color=""
      [disabled]="timeService.timeRunning === 'stop'"
      (click)="timeService.stopTime()"
    >
      <mat-icon>pause</mat-icon>
    </button>
    <div class="time-container">{{ timeService.days$ | async | gameTime }}</div>
    <button
      type="button"
      mat-icon-button
      color=""
      [disabled]="timeService.timeRunning === 'normal'"
      (click)="timeService.startSlowTime()"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      type="button"
      mat-icon-button
      color=""
      [disabled]="timeService.timeRunning === 'fast'"
      (click)="timeService.startFastTime()"
    >
      <mat-icon>fast_forward</mat-icon>
    </button>

    <div class="toolbar-spacer"></div>

    <div><strong>{{ visibleRadius }}</strong></div>
    <mat-slider
      [max]="6"
      [min]="0"
      [step]="1"
      [(ngModel)]="visibleRadius"
    >
    </mat-slider>
    <button
      type="button"
      mat-icon-button
      color=""
      (click)="renewMap()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
    <button
      type="button"
      mat-icon-button
      color=""
      [disabled]="dataService.saved"
      (click)="dataService.save()"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      type="button"
      mat-icon-button
      color=""
      [disabled]="!dataService.hasData"
      (click)="dataService.load()"
    >
      <mat-icon>backup</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="floating floating-left floating-top">
  <mat-card-header>
    <mat-card-title>Realm Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div><strong>{{ player }}</strong></div>
    <div>Claimed Tiles: {{ realmSize }}</div>
  </mat-card-content>
</mat-card>

<app-map class="map"></app-map>
